{
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [".eslintrc", ".prettierrc", "tsconfig.json", "tsconfig.node.json"],
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    }
  ],
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "tailwindFunctions": ["cn", "cva"]
}
