name: Check format and lint

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.19.2'

      - name: Install dependencies
        run: npm install

      - name: Check ESLint
        run: npm run lint

      - name: Check Format
        run: npm run format:check